* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Sofy;
  src: url(./Rottely.otf);
}

body {
  height: 100vh;
  background: #142841;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 15px;
  font-size: 20px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
  margin: 3px 0;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 25px;
}

.nombre-restaurante {
  text-decoration: none;
  font-weight: bold;
  color: #71f48e;
  font-family: Sofy;
}

.menu {
  text-decoration: none;
  font-weight: bold;
  color: #71f48e;
  display: flex;
  list-style-type: none;
}

.menu li {
  padding: 0px 15px;
}

.menu li a {
  text-decoration: none;
  color: #71f48e;
  font-family: Sofy;
}

.menu li a:hover {
  color: orange;
}

.botones-secciones {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 20px;
}

.secciones {
  margin-bottom: 20px;
  height: 100px;
  width: 400px;
  min-width: 300px;
  font-size: 20;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FF7F50;
  color: #fff;
}

.presentacion {
  font-size: 15px;
  text-align: justify;
  margin: 20px;
}

.div-principal {
  border: 5px solid orange;
  border-radius: 10px;
  justify-content: space-between;
  margin: 20px;
}

.div-interno {
  border: 5px solid orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.div-nombreyprecio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombreplatillo {
  font-size: 22px;
  text-align: left;
}

.preciocontinuo {
  font-size: 22px;
  text-align: right;
}

.detallesplatillo {
  font-size: 15px;
  text-align: left;
}

.nombreseccion {
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}

.contactos {
  margin: 20px;
}

.p_contactanos {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.imagen {
  display: flex;
  text-decoration: none;
  color: #FFF;
  align-items: center;

  
}

.imagen img {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  * {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  @font-face {
    font-family: Sofy;
    src: url(./Rottely.otf);
  }

  body {
    height: 100vh;
    background: #142841;
    color: #fff;
  }

  .navbar {
    justify-content: left;
  }

  .menu-toggle {
    display: flex;
  }

  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 85px;
    left: 10px;
    background: #1c5777;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
  }

  .menu.show {
    display: flex;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 30px;
  }

  .nombre-restaurante {
    text-decoration: none;
    font-weight: bold;
    color: #71f48e;
    font-family: Sofy;
  }
  .nombre-restaurante {
    text-decoration: none;
    font-weight: bold;
    color: #71f48e;
    font-family: Sofy;
  }

  .botones-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 20px;
  }

  .secciones {
    margin-bottom: 20px;
    height: 100px;
    width: 310px;
    min-width: 250px;
    font-size: 20;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ea825f;
    box-shadow: 3px 3px 10px 0 gray;
  }

  @media only screen and (max-width: 750px) {
    .secciones {
      margin-bottom: 20px;
      height: 100px;
      width: 260px;
      min-width: 200px;
      font-size: 20;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      line-height: 100px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #ea825f;
      box-shadow: 3px 3px 10px 0 gray;
    }
  }

  @media only screen and (max-width: 550px) {
    .menu {
      width: 300px;
      height: 250px;
    }

    .secciones {
      margin-bottom: 20px;
      height: 100px;
      width: 310px;
      min-width: 250px;
      font-size: 20;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      line-height: 100px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #ea825f;
      box-shadow: 3px 3px 10px 0 gray;
    }
  }

  @media only screen and (max-width: 300px) {
    .menu {
      width: 225px;
    }

    .secciones {
      margin-bottom: 20px;
      height: 100px;
      width: 275px;
      min-width: 225px;
      font-size: 20;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      line-height: 100px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #ea825f;
      box-shadow: 3px 3px 10px 0 gray;
    }
  }
}
