@media (max-width: 991px) {

  @font-face {
    font-family: "Rottely";
    src: url(./Rottely.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Regular";
    src: url(./Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url(./Roboto-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Bold";
    src: url(./Roboto-Bold.ttf) format("truetype");
  }

  body {
    height: 100%;
    background: #142841;
    color: #fff;
  }

  /* Menu de navegacion */

  .navbar {
    font-size: 20px;
  }

  .navbar-brand, .nav-link {
    letter-spacing: 1px;
  }

  .nombre {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 5px;
  }

  .siguenos {
    margin-right: 5px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  /* Seccion botones página principal */

  h1 {
    font-size: 22px;
  }

  .secciones {
    margin-bottom: 20px;
    height: 100px;
    width: 310px;
    min-width: 250px;
    font-size: 17px;
    font-family: "Roboto-Bold";
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ff7f50;
  }

  /* Divs de cada página de menu*/

  .detallesplatillo {
    text-align: left;
  }

  @media only screen and (max-width: 750px) {

    .secciones {
      height: 100px;
      width: 260px;
      min-width: 200px;
    }

    .nombreyprecio_responsive {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .detallesplatillo_responsive {
      text-align: center;
    }

    iframe {
      width: 75vw;
      height: 50vh;
    }

    @media only screen and (max-width: 550px) {
      .secciones {
        height: 100px;
        width: 310px;
        min-width: 250px;
      }
    }

    @media only screen and (max-width: 380px) {
      .secciones {
        height: 100px;
        width: 275px;
        min-width: 225px;
      }
    }
  }


}