@media only screen and (max-width: 1000px) {
  * {
    margin: 0px;
  }

  @font-face {
    font-family: "Rottely";
    src: url(./Rottely.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Regular";
    src: url(./Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url(./Roboto-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Bold";
    src: url(./Roboto-Bold.ttf) format("truetype");
  }

  body {
    height: 100vh;
    background:  #142841;
    color: #fff;
  }

  /* Menu de navegacion */

  .navbar {
    justify-content: left;
    height: 70px;
    box-sizing: border-box;
  }

  .menu-toggle {
    display: flex;
  }

  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 70px;
    left: 0;
    background: #2C3E54;
    width: 100vw;
    padding: 10px;
    justify-content: space-evenly;
  }

  .menu.show {
    display: flex;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 30px;
  }
  
  /* Sección contactanos */

  .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .p_contactanos {
    text-align: justify;
    font-family: "Roboto-Bold";
    font-size: 16px;
  }

  .imagen {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
    font-family: "Roboto-Regular";
    font-size: 16px;
  }

  .imagen img {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
  }

  /* Seccion botones página principal */

  h1 {
    font-size: 20px;
  }

  .botones-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 20px;
  }

  .secciones {
    margin-bottom: 20px;
    height: 100px;
    width: 310px;
    min-width: 250px;
    font-size: 17px;
    font-family: "Roboto-Bold";
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ff7f50;
  }

  /* Divs de cada página de menu*/

  .div-principal_solonombreyprecio {
    display: none;
  }

  .div-principal_solonombreyprecio_responsive {
    display: block;
    border: 5px solid orange;
    border-radius: 10px;
    margin: 20px;
  }

  .div-nombreyprecio_responsive {
    display: block;
  }

  .nombreseccion {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 25px;
    font-family: "Roboto-Bold";
  }

  .nombreplatillo {
    font-size: 17px;
    text-align: left;
    font-family: "Roboto-Regular";
  }

  .preciocontinuo {
    font-size: 17px;
    text-align: right;
    font-family: "Roboto-Bold";
  }

  .detallesplatillo {
    font-size: 14px;
    text-align: left;
    font-family: "Roboto-Light";
  }

  .precio-platillo_responsive {
    margin-top: 10px;
    font-size: 17px;
    text-align: right;
    overflow: none;
    font-family: "Roboto-Bold";
  }

  .nota {
    font-size: 17px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-family: "Roboto-Bold";
  }

  @media only screen and (max-width: 750px) {
    .secciones {
      height: 100px;
      width: 260px;
      min-width: 200px;
    }
  }

  @media only screen and (max-width: 550px) {
    .menu {
      width: 100vw;
      height: 250px;
    }

    .secciones {
      height: 100px;
      width: 310px;
      min-width: 250px;
    }
  }

  @media only screen and (max-width: 380px) {
    .menu {
      width: 100vw;
      font-size: 20px;
    }

    .nombre-restaurante {
      font-size: 20px;
    }

    .secciones {
      height: 100px;
      width: 275px;
      min-width: 225px;
    }
  }
}