* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Sofy;
  src: url(./Rottely.otf);
}

body {
  height: 100vh;
  background: #142841;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 15px;
  font-size: 22px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
  margin: 3px 0;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 25px;
}

.nombre-restaurante {
  text-decoration: none;
  color: #71f48e;
  font-family: Sofy;
}

.menu {
  text-decoration: none;
  color: #71f48e;
  display: flex;
  list-style-type: none;
}

.menu li a {
  padding: 0px 15px;
  text-decoration: none;
  color: #71f48e;
  font-family: Sofy;
}

.menu li a:hover {
  color: orange;
}

/* Sección de botones de página  */

.botones-secciones {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 20px;
}

.secciones {
  margin-bottom: 20px;
  height: 100px;
  width: 400px;
  min-width: 300px;
  font-size: 20;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FF7F50;
  color: #fff;
}

.presentacion {
  font-size: 15px;
  text-align: justify;
  margin: 20px;
}

/* Sección páginas del menú */

.div-principal {
  border: 5px solid orange;
  border-radius: 10px;
  justify-content: space-between;
  margin: 20px;
}

.div-interno {
  border: 5px solid orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.nombreseccion {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  margin-left: 25px;
}

.div-nombreyprecio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombreplatillo {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.preciocontinuo {
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}

.detallesplatillo {
  font-size: 18px;
  text-align: left;
}

.div-principal_solonombreyprecio {
  border: 5px solid orange;
  border-radius: 10px;
  margin: 20px;
}

.div-principal_solonombreyprecio_responsive {
display: none;
}

.nota {
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* Sección de contactos */

.contactos {
  margin: 20px;
}

.p_contactanos {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.imagen {
  display: flex;
  text-decoration: none;
  color: #FFF;
  align-items: center;
}

.imagen img {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  margin-right: 10px;
}